:root {
  --logo-color: #9a0101;
  --secondary-color: #650a0b;
  --text-color: #ffffff;
}

@font-face {
  font-family: "Delicious Handrawn", cursive;
  src: url(https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap);
}

@font-face {
  font-family: "Nunito", sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: var(--text-color);
}

h1,
h2,
h3,
a {
  font-family: "Delicious Handrawn", cursive;
}

h4,
h5,
h6,
p {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}

body {
  background-image: url(/assets/images/background.jpg);
  backdrop-filter: brightness(60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
header {
  background-color: var(--logo-color);
  height: 7svh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  padding-right: 0.5em;
}
#nav-link {
  padding-right: 0.5em;
}
#logo-header {
  height: 4.5svh;
  padding-left: 0.5em;
}
#a-logo {
  display: flex;
  align-items: center;
}
#name-section {
  height: 70svh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 1em 0 1em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}
#text-name-section {
  display: table-column;
}

#logo-name-section {
  border-radius: 100%;
  width: 18svh;
}

#icons-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-image: url(/assets/images/pattern-background.png);
  background-repeat: repeat;
  background-size: 200px;
  height: 24svh;
}
#icon-section {
  height: 12svh;
  border-radius: 25%;
}
#text-icon-section {
  text-align: center;
}

#descriptions-section {
  background-image: url(/assets/images/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
  padding: 2em 0;
}

article {
  padding: 0.5em;
  display: flex;
  align-items: center;
}

article h3 {
  padding: 0 0.5em;
}
article p {
  padding: 0 0.5em;
}
article img {
  padding: 0 0.5em;
}

#text-article {
  display: flex;
  flex-direction: column;
}

#text-right-article {
  text-align: end;
}

#article-image {
  height: 15svh;
}
#contact-section {
  padding: 2em 0;
  background-image: url(/assets/images/pattern-background.png);
  display: flex;
  flex-direction: column;
}
#contact-section h3 {
  text-align: center;
  padding-bottom: 0.5em;
}
#icons-social-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1em;
}
#icon-social {
  width: 150%;
}

#map {
  border-radius: 5px;
  margin: 0 auto;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

footer {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 1.5em 0;
}
footer p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer a {
  font-family: "Nunito";
}
#icon-footer {
  width: 1.5rem;
}

@media (width <= 767px){
  body{
    background-image: url(/assets/images/phone-background.jpg);
  }
  #logo-header{
    height: 5.5svh;
  }
  #nav-link{
    font-size: 1.3rem;
  }
  #welcome-name-section{
    font-size: 1.6rem;
  }
  #title-name-section{
    font-size:3.5rem
  }
  #icons-section h3{
    font-size: 1.6rem;
  }
  #icon-section{
    height: 13.5svh;
  }
  #descriptions-section{
    background-image: url(/assets/images/phone-background-2.jpg);
  }
  article h3{
    font-size: 2rem;
  }
  #contact-section h3{
    font-size: 2.2rem;
  }
  #icon-social {
    width: 7.5svh;
  }
}

@media (min-width: 768px) and (max-width: 1200px){
  body{
    background-image: url(/assets/images/phone-background.jpg);
  }
  #logo-header{
    height: 5.4svh;
  }
  #nav-link{
    font-size: 1.7rem;
  }
  #welcome-name-section{
    font-size: 2.5rem;
  }
  #title-name-section{
    font-size:5.5rem
  }
  #icons-section h3{
    font-size: 2.2rem;
  }
  #icon-section{
    height: 14svh;
  }
  #descriptions-section{
    background-image: url(/assets/images/phone-background-2.jpg);
  }
  article h3{
    font-size: 2.5rem;
  }
  article p{
    font-size: 1.3rem
  }
  #contact-section h3{
    font-size: 2.8rem;
  }
  #icon-social {
    width: 8svh;
  }
  #map{
    width: 60svh;
    height: 30svh;
  }
}
